 * {
    margin: 0;
    padding: 0;
  }
  .wrapper{
    padding-left: 75px; /* must match h1 and .colourcopy */
  }
    .socials{
      display: flex;
      justify-content: center;
      margin-top: 8px;
      gap: 2rem;
    }
    /* SVG ICONS */
    .socials img{
      width: 30px;
      height: auto;
      filter: invert(.7);
    }
    .socials img:hover{
      filter: invert(0);
    }

    #spotify{
      width: 45px;
      margin: -10px 5px 0;
      filter: invert(0);
    }

    #spotify:hover{
      filter: invert(.4);
    }
  .form{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: 20px auto;
    gap: 1rem;
  }
  input{
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
  }
  button{
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background: #000;
    color: white;
  }

  .contrast{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: monospace;
  }
  .contrast p:first-of-type, p:last-of-type span {
    color: white;
  }
  .contrast p:last-of-type, p:first-of-type span {
    color: black;
  }

  #container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    margin-top: 20px;
    padding-left: 75px; /* must match .wrapper and .colourcopy */
    font-family: sans-serif;
    letter-spacing: .1px;
    word-spacing: .1px;
    user-select: none;
  }

  /*  */
  /*  */
  /*  */
.colourcopy{
  overflow-x: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  width: 75px; /* must match .wrapper and h1 */
  height: 100%;
}

  @media screen and (min-width: 1070px){
    .form{
      flex-direction: row;
    }
    .colourcopy{
      width: 100px;
    }
    .wrapper{
      padding-left: 100px;
    }
    h1{
      padding-left: 100px;
    }
  }

  